:root {
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 2.4vh;

    --primary: #1d61dd;
    --secondary: #073377;
    --white: #efefef;
    --white2: #d1d1d1;
    --bg1: #000000;

    touch-action: manipulation;
}

body {
    color: var(--white);
    background-color: var(--bg1);

    background-image: radial-gradient(rgba(255, 255, 255, 0.06) 3px, transparent 0);
    background-size: 1.2em 1.2em;
    background-position: -0.3em 0;
}

.main {
    width: 100%;
    height: 100%;
    margin: 50px auto;
    text-align: center;
}

p {
   font-size: 0.85em;
   width: 95%;
   margin: auto;
   color: var(--white2);
}

.home-logo {
    width: 8.5em;

    margin-top: -20px;
    margin-bottom: 0;
}

h1 {
    font-weight: 800;
}

.title-name {
    margin: 8px 0 6px 0;
}


.start-area {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 4.5em;
    margin-inline: auto;
}


.play-btn {
    font-size: 2em;
    font-weight: 800;
    text-shadow: 0 0 0.5em var(--secondary);

    padding: 5px 0;
    width: 75%;

    border: 0.06em solid rgba(255, 255, 255, 0.4);
    border-radius: 1em;

    color: var(--white);
    background-color: var(--primary);

    box-shadow: 0 0 1em var(--secondary);

    transition: 100ms;
}

.play-btn:hover {
    background-color: var(--secondary);
    cursor: pointer;
}


.blurred-div {
    background-color: rgba(0, 0, 0, 0.25);
    border: 0.12em solid rgba(255, 255, 255, 0.08);

    width: 60%;
    padding: 0.3em 0;
    margin: auto;

    margin-bottom: 3em;

    border-radius: 1.5em;
    box-shadow: 0 0 1.2em black;
    backdrop-filter: blur(2px);
}

.diff-btn {
    font-size: 1.2em;
    font-weight: 600;
    color: var(--bg1);
    background-color: var(--white);
    text-decoration: none;

    display: block;
    padding: 0.15em 1em;
    margin: auto;
    width: 6em;
    margin-block: 0.5em;

    border-radius: 0.5em;
    border: 0.04em solid var(--white);

    transition: 150ms;
}

.diff-btn:hover {
    background-color: var(--white2);
    border-radius: 0.6em;
    cursor: pointer;
}

.diff-btn-selected {
    color: var(--white);
    text-shadow: 0 0 .5em var(--bg1);
    background-color: var(--secondary);

    width: 8em;

    border-radius: 1em;
    border: 0.08em solid var(--primary);
    box-shadow: 0 0 1.5em var(--secondary);

}

.diff-btn-selected:hover {
    background-color: var(--primary);
}




.game-navbar {
    background-color: var(--secondary);
    border: 0.12em solid var(--primary);

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 90%;
    padding: 0.5em 0.5em;
    margin: auto;

    margin-top: -1.3em;

    border-radius: 10em;
    box-shadow: 0 0 1.2em black;
    backdrop-filter: blur(2px);
}

.nav-element-info {
    font-size: 1.5em;
    width: 100%;
    color: var(--white);
    font-weight: 800;
}

.nav-element-header {
    font-size: 0.8em;
    width: 100%;
    color: var(--white2);
    font-weight: 500;
    font-style: italic;
}



.location-container {
    width: 93%;
    height: 0;
    padding-bottom: 93%;
    overflow: hidden;
    margin: auto;
    position: absolute;

    right: 0;
    left: 0;
    top: 50%;
    transform: translateY(-60%);

    border-radius: 1.75em;
    z-index: -1;
}

.location-image {
    position: absolute;
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;
    margin: auto;
    max-height: 100%;
}


.map-container {
    display: flex;
    flex-direction: column;

    position: fixed;
    bottom: 0;
    left: 0;
    max-width: 100%;
    height: 20vh;

    z-index: 10;
    transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.175);
}

.map-container.expanded {
    height: 69vh;
    z-index: 100;
}

.map-container.expanded .guess-button {
    display: block;
}

.map-image {
    width: 100%;
    height: auto;
    display: block;
    pointer-events: none;
}

.image-container {
    position: relative;
    width: 100%;
}

.map-wrapper {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;

    border-radius: 2em 2em 0 0;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.25);
}

.map-pin {
    position: absolute;
    width: 16px; height: 16px;
    background-color: var(--primary);
    border: 2px solid white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    display: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    z-index: 2;
}

.actual-pin {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #28a745;
    border: 2px solid white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    display: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    z-index: 2;
}

.distance-line {
    position: absolute;
    height: 0px;
    background-color: white;
    border-top: 5px dashed black;
    transform-origin: 0 50%;
    display: none;
    z-index: 1;
    pointer-events: none;
}


.handle-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

    cursor: pointer;
    background: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, transparent 100%);
}

.handle-bar {
    width: 6em;
    height: 0.3em;
    background-color: white;
    border-radius: 2em;
    opacity: 0.9;
}

.guess-points {
    display: none;

    font-size: 2.5em;
    font-weight: 800;
    color: var(--primary);

    position: absolute;
    bottom: 1.2em;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 10;

    /*text-shadow: 0 0 0.6em var(--secondary);*/
}


.guess-button {
    display: none;
    width: 100%;
    height: 1.7em;
    margin: auto;

    cursor: pointer;
    text-transform: uppercase;

    font-size: 2em;
    font-weight: 800;
    text-shadow: 0 0 0.5em var(--secondary);
    border: 0 solid rgba(255, 255, 255, 0.4);

    color: var(--white);
    background-color: var(--primary);
    box-shadow: 0 0 1em var(--secondary);
    z-index: 20;

    transition: 100ms;
}
.guess-button:hover {
    background-color: var(--secondary);
    cursor: pointer;
}
.guess-button:disabled {
    background-color: #6c757d;
    -moz-box-shadow: none;
	box-shadow: none;
    text-shadow: 0 0 0.5em var(--bg1);

    cursor: not-allowed;
}



@media (min-width: 768px) {
    :root {
        font-size: 18px;
    }
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin: 0;
    }

    .start-area {
        position: static;
        margin-top: 3em;
        width: 100%;
        max-width: 400px;
    }

    .home-logo {
        width: 15em;
        margin-top: 0;
    }

    p {
        width: auto;
        max-width: 600px;
        font-size: 1.2em;
    }
}
